@page
@model E_Commerce.Web.Pages.AllProducts.AddModel
@{
}

<form method="post" asp-page-handler="OnPost">
	
	<label asp-for="Product.ProductName"> </label><br>
	<input asp-for="Product.ProductName">
	<br>
	<label asp-for="Product.ProductDescription"> </label><br>
	<input asp-for="Product.ProductDescription">
	<br>
	<label asp-for="Product.Price"> </label><br>
	<input asp-for="Product.Price">
	<br>
	<label asp-for="Product.ProductCategory"> </label><br>
	<input asp-for="Product.ProductCategory">
	<button class="btn-primary" type="submit"> Save</button>

	<a asp-page="Index" class="btn btn-secondary" style="width:150px;"> Back to List</a>
</form>
